.beers-bottle {
  display: flex;
  width: 590px;
  margin-left: 280px;
  margin-top: -480px;
  width: 605px;
  height: 619px;
  flex-shrink: 0;
}

.beers-information {
  margin-bottom: 10px;
  margin-top: -260px;
  color: #000;
  font-family: Helvetica;
  font-size: 18px;
  font-style: oblique;
  font-weight: 400;
  line-height: normal;
}

.beers-ingredients {
  padding-top: 150px;
  color: #000;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.beers-information-ipa {
  margin-bottom: 30px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 18px;
  font-style: oblique;
  font-weight: 400;
  line-height: normal;
}

.beers-ingredients-ipa {
  padding-top: 150px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.beers-brown {
  display: flex;
  background-repeat: no-repeat;
  background-image: url(/src/img/autre-siteweb/fond-brune.png);
  padding: 70px;
  padding-top: 10px;
}

.beers-ipa {
  display: flex;
  background-repeat: no-repeat;
  background-image: url(/src/img/autre-siteweb/fond-ipa.png);
  padding: 70px;
  padding-top: 10px;
}

.beers-blonde {
  display: flex;
  background-repeat: no-repeat;
  background-image: url(/src/img/autre-siteweb/fond-blonde.png);
  padding: 50px;
}
