.beers-brown {
  display: flex;
  background-repeat: no-repeat;
  background-image: url(/src/img/autre-siteweb/brune-last-background.png);
  padding-left: 70px;
  margin-top: -60px;
  padding-bottom: 250px;
}

.beers-ipa {
  display: flex;
  background-repeat: no-repeat;
  background-image: url(/src/img/autre-siteweb/ipa-last-backgroud.png);
  padding-left: 70px;
  padding-bottom: 460px;
  margin-top: -60px;
}

.beers-blonde {
  display: flex;
  background-repeat: no-repeat;
  background-image: url(/src/img/autre-siteweb/blonde-last-background.png);
  padding-left: 70px;
  padding-bottom: 170px;
}
