.brown-price {
  color: #000;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.brown-the-price {
  color: #06ffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Goblin One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.brown-title {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #06ffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Goblin One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.brown-btn-decrement {
  background-color: #c04427;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  fill: #c04427;
  border-radius: 6px;
}

.brown-beers-information {
  margin-bottom: 10px;
  margin-top: -150px;
  color: #000;
  font-family: Helvetica;
  font-size: 18px;
  font-style: oblique;
  font-weight: 400;
  line-height: normal;
}

.brown-beers-bottle {
  display: flex;
  margin-left: 280px;
  margin-top: -480px;
  width: 605px;
  height: 619px;
  flex-shrink: 0;
}

.brown-beers-ingredients {
  padding-top: 100px;
  color: #000;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
