.button {
  border-radius: 13px;
  border: 1px solid #000;
  background: #e0970d;
  padding: 17px;
  margin-left: 990px;
  transition-property: background-color;
  transition-duration: 0.3s;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.25);
}
