.history-title {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 35px;
}

.history {
  display: flex;
  text-align: left;
  margin-left: 250px;
  margin-right: 250px;
  color: white;
  padding-top: 20px;
  padding-bottom: 35px;
}
