.mini-logo-mermaid:hover {
  width: 250px;
}

.mini-logo-pirate:hover {
  width: 250px;
}

.mini-logo-kraken:hover {
  width: 300px;
}

.mini-logo-mermaid {
  width: 200px;
  margin-top: 140px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.mini-logo-pirate {
  width: 220px;
  margin-top: 140px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.mini-logo-kraken {
  width: 270px;
  margin-top: 140px;
  transition-duration: 0.3s;
  cursor: pointer;
}
