nav {
  display: flex;
  color: white;
  justify-content: end;
  justify-content: space-around;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-beers-colors:hover {
  color: #f4aa1f;
  cursor: pointer;
}

.nav-history-colors:hover {
  color: #f4aa1f;
  cursor: pointer;
}

.nav-point-colors:hover {
  color: #7e06b7;
  cursor: pointer;
}

.nav-shop-colors:hover {
  color: #d75b3e;
  cursor: pointer;
}

.nav-contact-colors:hover {
  color: #7e06b7;
  cursor: pointer;
}

.nav-first-newsletter:hover {
  color: #f4aa1f;
}

.nav-first-conexion:hover {
  color: #d75b3e;
}

.nav-first-shop:hover {
  color: #7e06b7;
}
