/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

body {
  background-image: url(/src/img/autre-siteweb/fond-img.png);
  background-repeat: no-repeat;
}

header {
  padding-top: 30px;
}

footer {
  margin-top: 90px;
  padding: 50px;
}

nav {
  display: flex;
  color: white;
  justify-content: end;
  justify-content: space-around;
}

.title {
  width: 25%;
  padding-left: 50px;
}

.logos {
  display: flex;
  justify-content: center;
}

.alcool {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 30px;
  animation: alcool 2s ease infinite;
  color: linear-gradient(270deg, #dbff00, #06ffff, #df03f2);
}

@keyframes alcool {
  0% {
    color: #dbff00;
  }
  50% {
    color: #06ffff;
  }
  100% {
    color: #df03f2;
  }
}
.btn {
  border-radius: 5px;
  width: fit-content;
}
.blonde-title {
  margin-top: 70px;
  margin-bottom: 20px;
  color: #df03f2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Goblin One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.brown-title {
  margin-top: 70px;
  margin-bottom: 20px;
  color: #06ffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Goblin One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ipa-title {
  margin-top: 70px;
  margin-bottom: 20px;
  color: #dbff00;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Goblin One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-invisible {
  opacity: 0;
  transition: 1.2s ease;
}

.text-invisible:hover {
  opacity: 1;
}

.place {
  color: #fff;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 60px;
}

.link-web {
  color: #fff;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.conditions {
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* ====================================
// base rules
// ==================================== */
